@media (max-width:739px) { 
    
    #header{
        overflow: hidden;
    }  

    .header-search{
        display: none;
    }

    #header .mobi-menu{
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 24px;
        line-height: 46px;
        display: block;
        border: none;
    }
    
    #nav {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav > li {
        display: block;
        width: auto;
    }

    #nav > li > a{
        text-align: left; 
        padding: 1px 21px;
        width: 100%;
    }

    #nav .subnav {
        position: initial;   
        background-color: rgba(137, 131, 131, 0.578);
    }

    #nav .subnav a{
        padding: 4px 32px;  
        color: #fff;    
    }
    
    #content .content-section {
        padding: 48 16px;
    }

    .info-member .img-member{
        width: 60%;
    }
    
    .info-contact{
        margin-bottom: 24px;
    }

    .s-full-width{
        width: 100% ;
        margin: 8px 0;
    }

    .contact-input .row input{
        margin: 0;
    }
}