/* reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.clear{
    clear: both;
}

/*common*/

.padding-32{
    padding: 32px 0;
}

.text-white{
    color: #fff;
}

.text-center{
    text-align: center;
}

.row{
    margin: 0 -8px;
}

.row::after{
    content: "";
    clear: both;
    display: block;
}
.column{
    float: left;
}

.column-third{
    width: 33.33333%;
    padding: 0 8px;
}

.column-half{
    padding: 0 8px;
    width: 50%;
}

.column-full{
    width: 100%;
    padding: 0 8px;
}

/*header*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    background-color: #000;
    height: 46px;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav > li{
    display: inline-block;
    width: 98px;
}
#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-align: center; 
    font-size:medium;
}

#nav li a{
    text-decoration: none;
    padding:0 10px; /* hoặc dùng display :inline-block*/
    line-height: 46px;    
    /* hoặc dùng padding: 12px 46px*/ 
}

#nav li:hover .subnav{
    display: block;
}

#header .mobi-menu:hover,
#nav >li:hover >a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    position: absolute;
    display: none;  
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    list-style-type: none;
}

#nav .subnav a{
    color: black;
    min-width: 150px;
    padding: 0 14px;
    line-height: 40px;
    display: block;
}

#nav .nav-arrow-down{
    font-size: 16px;
}

#header .mobi-menu,
#header .header-search{
    float: right;
    
}

.header-search a{
    text-decoration: none;
    color: #fff;
}

#header .header-search:hover{
    background-color: #f44336;

}

#header .icon-search{
    line-height: 46px;
    font-size: 18px;
    padding: 0 24px;
    cursor: pointer;
} 

#header .mobi-menu{
    display: none;
}

/*slider*/

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/theband.jpg') top center / cover no-repeat; 
}

.content-slider{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center  ;
    width: 100%;
    margin: 32px 0;
}

.head-content-slider{
    font-weight: 500;
    margin: 10px;
    font-size:24px;

}

.text-content-slider{
    font-style: normal;
    margin: 15px 0;
    font-weight: bolder;
    font-size: small;
}

/*content*/
#content {
   
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

.content-section .content-heading{
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400;
    margin: 10px 0px;
    font-family: "Segoe UI",Arial,sans-serif;
    line-height: auto;
}

.content-section .content-subheading{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    margin: 15px 0;
    line-height: auto;

}

/*about-content*/

.content-section #about-content{
    text-align: justify;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    display: block;
    margin: 15px 0;
}

/*about-member-content*/
.info-member .name-member{
    font-size: 15px;
    margin: 15px 0;
    line-height: 1.5;
}

.info-member .img-member{
    width: 154px;
    border-radius: 5px;
}

/*tour-content*/

.tour{
    background-color: #000;
}

.list-tour{
    background-color: #fff;
    border: 1px solid #ccc;
    list-style-type: none;
    font-size: 15px;
    margin-top: 35px;
}

.list-tour .moth-tour{
    color: #757575;
    padding:  8px 16px;
    border: 1px solid #ccc;
    display: block;
}

.list-tour .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 4px 8px;
    margin-left: 8px;
    display: inline-block;
}

.list-tour .number-ticket{
    float: right;
    background-color: black;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
}

/*tickets*/

.list-ticket{
    padding: 32px 0;
}

.info-ticket .img-tour{
    width: 100%;
    display: block;
}

.info-ticket .img-tour:hover{
    opacity: 0.6;
}

.info-ticket .dis-ticket{
    background-color: #fff;
    padding: 0.15px 16px;
    font-size: 15px;
}

.info-ticket .dis-ticket .location-ticket{
    font-weight: 600;
    line-height: 1.5;
    margin: 15px 0;
}

.info-ticket .dis-ticket .date-ticket{
    opacity: 0.6;
    margin: 15px 0;
    line-height: 1.5;
}

.info-ticket .dis-ticket .content-ticket{
    margin: 15px 0;
    line-height: 1.5;
}

.info-ticket .dis-ticket .click-buy-ticket{
    font-size: 15px;
    background-color: #000;
    padding: 8px 16px;
    margin-bottom: 16px;
    line-height: 1.5;
    border: none;
}

.info-ticket .dis-ticket .click-buy-ticket:hover,
.contact-input .submit-contact:hover{
    background-color: #ccc;
    cursor: pointer;
    color: #000;
}

/*modal-buy-ticket*/

.modal.open{
    display: flex;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    animation: ModalBuyTicket ease 0.5s;
}

.modal-close{
    float: right;
    color: #fff;
    padding: 16px;
    font-size: 15px;
}

.modal-close:hover,
.modal-body .modal-button-buy-ticket:hover{
    background-color: #30a398;
    color: #000;
}

.modal-heading {
    font-size: 30px;
    background-color: #009688;
    padding: 48px 16px;
    text-align: center;
    letter-spacing: 5px;
}

.modal-body{
    font-size: 15px;
    margin: 24px 16px;
}

.modal-body .modal-label{
    width: 100%;
    margin-top:32px;
    margin-bottom: 16px;
    display: block;
}

.modal-body .modal-input{
    width: 100%;
    padding: 8px ;
}

.modal-body .modal-button-buy-ticket{
    font-size: 18px;
    font-weight: 500;
    margin-top: 32px;

    padding: 16px;
    width: 100%;
    background-color: #009688;
    border: none;
    color: #fff;
}

.modal-fooder{
    float: right;
    margin-right: 16px;
    margin-bottom: 16px;
    font-size: 15px;
}

.modal-fooder p a{
    color: #2196F3;
    margin-left: 8px;
}

.modal-fooder p a:hover{
    color: #6db1e9;
}

/*contact*/

.info-contact{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0 0 16px;
}

.info-contact p i{
    margin: 0 6px;
}

.contact-input .row input{
    padding: 8px;
    width: 100%;
    margin: 0 0 12px;
    font-size: 15px;
}


.contact-input .submit-contact{
    float: right;
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    margin: 8px 0;
}


/*map*/
#map img{
    width: 100%;
}


/*fooder*/
#fooder {
    padding: 64px 16px;
}

#fooder >a{
    text-decoration: none;
}

#fooder a i{
    color: rgb(104, 102, 102);
    font-size: 24px;
}


.end-fooder{
    color: rgb(104, 102, 102);
    margin: 16px;
    font-size: 15px;
}

.end-fooder a{
    color: rgb(104, 102, 102);
}


#fooder a:hover{
    opacity: 0.5;
}

@keyframes ModalBuyTicket {
    from {
        opacity: 0;
        transform: translateY(-68px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}