/* reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    
}

html{
    font-family: Arial, Helvetica, sans-serif;
    
}

.clear{
    clear: both;
}

.text-white{
    color: #fff;
}

/*header*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    background-color: #000;
    height: 46px;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav > li{
    display: inline-block;
    width: 98px;
}
#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-align: center; 
    font-size:medium;
}

#nav li a{
    text-decoration: none;
    padding:0 10px; /* hoặc dùng display :inline-block*/
    line-height: 46px;    
    /* hoặc dùng padding: 12px 46px*/ 
}

#nav li:hover .subnav{
    display: block;
}

#nav >li:hover >a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    position: absolute;
    display: none;  
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    list-style-type: none;
}

#nav .subnav a{
    color: black;
    min-width: 150px;
    padding: 0 14px;
    line-height: 40px;
    display: block;
}

#nav .nav-arrow-down{
    font-size: 16px;
}

#header .header-search{
    float: right;
    
}

#header .header-search:hover{
    background-color: #f44336;

}

#header .icon-search{
    line-height: 46px;
    font-size: 18px;
    padding: 24px;
    cursor: pointer;
}

/*slider*/

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/chicago.jpg') top center / cover no-repeat; 
}

.content-slider{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center  ;
    width: 100%;
    margin: 32px;
}

.head-content-slider{
    font-weight: 500;
    margin: 10px;
    font-size:24px;

}

.text-content-slider{
    font-style: normal;
    margin: 15px 0;
    font-weight: bolder;
    font-size: small;
}

/*content*/
#content {
   
}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

.content-section .content-heading{
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400;
    margin: 10px 0px;
    font-family: "Segoe UI",Arial,sans-serif;
    line-height: auto;
}

.content-section .content-subheading{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    margin: 15px 0;
    line-height: auto;

}

/*about-content*/

.content-section #about-content{
    text-align: justify;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    display: block;
    margin: 15px 0;
}

/*about-member-content*/

.list-member{
    padding: 32px 0;
}

.list-member .info-member{
    float: left;
    width: 33.33333%;
    text-align: center;
}

.info-member .name-member{
    font-size: 15px;
    margin: 15px 0;
    line-height: 1.5;
}

.info-member .img-member{
    width: 154px;
    border-radius: 5px;
}

/*tour-content*/

.tour{
    background-color: #000;
}

.list-tour{
    background-color: #fff;
    border: 1px solid #ccc;
    list-style-type: none;
    font-size: 15px;
    margin-top: 35px;
}

.list-tour .moth-tour{
    color: #757575;
    padding:  8px 16px;
    border: 1px solid #ccc;
    display: block;
}

.list-tour .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 4px 8px;
    margin-left: 8px;
    display: inline-block;
}

.list-tour .number-ticket{
    float: right;
    background-color: black;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
}

/*tickets*/

.list-ticket{
    padding: 32px 8px;
    margin-left: -16px;
    margin-right: -16px;
}

.info-ticket{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
    margin-bottom: 16px;
}

.info-ticket .img-tour{
    width: 100%;
    display: block;
}

.info-ticket .img-tour:hover{
    opacity: 0.6;
}

.info-ticket .dis-ticket{
    background-color: #fff;
    padding: 0.15px 16px;
    font-size: 15px;
}

.info-ticket .dis-ticket .location-ticket{
    font-weight: 600;
    line-height: 1.5;
    margin: 15px 0;
}

.info-ticket .dis-ticket .date-ticket{
    opacity: 0.6;
    margin: 15px 0;
    line-height: 1.5;
}

.info-ticket .dis-ticket .content-ticket{
    margin: 15px 0;
    line-height: 1.5;
}

.info-ticket .dis-ticket .click-buy-ticket{
    font-size: 15px;
    background-color: #000;
    padding: 8px 16px;
    margin-bottom: 16px;
    line-height: 1.5;
    border: none;
}

.info-ticket .dis-ticket .click-buy-ticket:hover{
    background-color: #ccc;
}

#fooder {
 
    
}